{% extends "base.html" %}

{% block title %}
    <title>students/list</title>
{% endblock %}

{% block now_academic_year %}
    <b>{{ now_academic_year }}</b> <a href="{% url 'edit_now_academic_year' %}">modifier</a>
{% endblock %}

{% block body_content %}
    <h3>Students</h3>
    <a href="{% url 'students:student_create' %}">Ajouter un étudiant</a>
    <br/>
    <br/>

    <form action="{% url 'students:students_list' %}" method="POST">
        {% csrf_token %}

        <label for="faculty">Classe</label>
        <select name="faculty" id="faculty">
            <option value="__all__">--</option>
            {% for faculty in all_faculties %}
                <option value="{{ faculty.slug }}"
                        {% if faculty.slug == faculty_selected.slug %}selected="selected"{% endif %}>
                    {{ faculty }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="valider">
    </form>
    <br/>

    <table border="1px" id="students_list">
        <thead>
            <tr class="table-head">
                <td>N°</td>
                <td>Nom</td>
                <td>Prénom</td>
                <td>faculté</td>
                <td>spécialité</td>
                <td>matricule</td>
            </tr>
        </thead>

        <tbody>
            {% for student in students %}
                <tr id="students_list_data">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.faculty }}</td>
                    <td>{{ student.speciality }}</td>
                    <td>{{ student.matricule }}</td>
                    <td>
                        <a href="{% url 'students:students_details' student.pk %}">Détails</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
