{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
    <title>students/edit</title>
    <link rel="stylesheet" href="{% static 'sg_note/css/home-style.css' %}">
{% endblock %}


{% block body_content %}
    <h2>Modifier un étudiant</h2>

    <form action="{% url 'students:student_edit' student.pk %}" method="POST">

        {% csrf_token %}
        <p>
            {{ form.faculty.label_tag }}
            {% render_field form.faculty hx-get="/students/specialities_dropdown/" hx-target="#id_speciality" hx-trigger="change" %}
        </p>

        <p>
            {{ form.speciality.label_tag }}
            {% render_field form.speciality %}
        </p>

        <p>
            {{ form.system.label_tag }}
            {% render_field form.system hx-get="/students/level_dropdown/" hx-target="#id_level" hx-trigger="change" %}
        </p>

        <p>
            {{ form.level.label_tag }}
            {% render_field form.level %}
        </p>

        <p>
            {{ form.matricule.label_tag }}
            {% render_field form.matricule %}
        </p>
        <p>
            {{ form.first_name.label_tag }}
            {% render_field form.first_name %}
        </p>
        <p>
            {{ form.last_name.label_tag }}
            {% render_field form.last_name %}
        </p>
        <p>
            {{ form.gender.label_tag }}
            {% render_field form.gender %}
        </p>
        <p>
            {{ form.birth.label_tag }}
            {% render_field form.birth %}
        </p>

        <input type="submit" value="Modifier">

    </form>

{% endblock %}
